Value .label-value{
    -fx-cursor: v-resize;
}
Value{
    -fx-alignment: center-left;
    -fx-pref-height: 26px;
}

ControllerStage{
    -fx-cursor: default;
}

Graph{
    -fx-background-color: white;
}

ArrangementBlock{
    -fx-background-color: #E30B5C44;
}