ValueControl .label-value{
    -fx-cursor: v-resize;
}
ValueTextControl .label-value{
    -fx-cursor: hand;
}
ValueControl{
    -fx-alignment: center-left;
    -fx-pref-height: 26px;
}

ValueLabel{
    -fx-alignment: center-left;
    -fx-pref-height: 26px;
}

ControllerStage{
    -fx-cursor: default;
}

Graph{
    -fx-background-color: white;
}

ArrangementSelectionBlock{
    -fx-background-color: #93BEDF80;
}